<div class="content has-header" ng-if="dashstate.isEmpty()">
  <div class="loginText">
    <img src="img/System-Box-Empty-icon.png " height="65"/>
    <h3>YOUR DASHBOARD IS EMPTY</h3>
  </div>
  <div class="loginBtn">
    <button on-tap="transitions.components()">
      <span>ADD COMPONENT</span>
    </button>
  </div>
</div>
<!-- DASH WITH COMPONENTS -->
<!--<div class="bar bar-subheader" ng-if="!dashstate.isEmpty()">
  <span class="icon ion-android-bookmark" ng-repeat="comp in dashstate.getAddedComponents()"></span>
</div>-->
<div class="paginationComp" ng-if="!dashstate.isEmpty()">
  <div style="height: 10px; width: 10px; background-color: #111111;" ng-repeat="cmp in dashstate.getAddedComponents()">
  </div>
</div>
<div class="has-header" ng-if="!dashstate.isEmpty()">
  <div ng-repeat="cmp in dashstate.getAddedComponents()" class="view-container"
       ng-if="cmp.name == dashstate.activeComponent" id="{{cmp.name}}">
    <span>{{cmp.name}}</span>
  </div>
</div>
