<!-- home view, only show this view when the user has acceded to this app and is not logged yet -->
<div class="content">
  <div class="loginText">
    <div>
      <img src="img/logo.png" height="40">
      <h2>PicBit</h2>
    </div>
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus egestas enim, id volutpat nis
        i porta sed. In sed efficitur erat, vitae tristique magna. Integer dolor leo,
      </p>
    </div>
  </div>
  <div class="loginBtn" ng-if="!stateApp.logged">
    <button class="button button-assertive" on-tap="transitions.login()"><span class="icon ion-log-in"> Login</span></button>
  </div>
  <div class="loginBtn" ng-if="stateApp.logged">
    <button class="button button-assertive" on-tap="transitions.dash()"><span class="icon ion-log-in"> Dashboard</span></button>
  </div>
</div>
