<div class="content">
<div class="row row-top" >
  <div class="col col-center text-center">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus egestas enim, id volutpat nis
      i porta sed. In sed efficitur erat, vitae tristique magna. Integer dolor leo,
    </p>
    <br/>
    <br/>
  </div>
</div>
<div class="row row-center" >
  <div class="col col-center text-center">
    <button class="button button-full button-positive" on-tap="transitions.dash()">
      <span class="icon ion-social-facebook" > Facebook</span>
    </button>
    <button class="button button-full button-assertive" on-tap="transitions.dash()">
      <span class="icon ion-social-googleplus" > Google</span>
    </button>
    <button class="button button-full button-calm" on-tap="transitions.dash()">
      <span class="icon ion-social-twitter" > Twitter</span>
    </button>
  </div>
</div>
</div>


