/* Empty. Add your own CSS if you like */
body, h1{
	color:#DDD;
	font-weight: bolder;
}
.scroll{
	height: 100%;
}
.app-icon{
    background-color: #DDD;
    background-image: url('../img/logo.png');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}
.item{
	border:none;
	margin: 0px !important;
	padding:30px 10px 0px 10px !important;
}
.social-login{
	position: fixed;
	bottom: 0px;
}