<ion-view title="PicBit - Componentes">
	<ion-nav-buttons side="primary">  	  		
		<button class="button" ng-click="transitions.profile()" style="margin-right:8px;">
      		<span class="icon ion-android-contact"></span>
    	</button>
    	<button class="button" ng-click="showPicBitSiteMenu()">
      		<span class="icon ion-android-menu"></span>
    	</button>    	
  	</ion-nav-buttons>
  	<ion-content class="">
      <div class="item item-divider"> 
        Componentes disponibles
      </div>
  		<div class="item item-toggle toggle-small ng-valid" ng-repeat="comp in components" ng-model="comp" toggle-class="toggle-calm">
        <div >
          <span class="ng-binding">{{comp.name}}</span>
        </div>
        <label class="toggle toggle-calm disable-user-behavior"  on-tap="dashstate.addComponent(comp)">
          <input type="checkbox" ng-model="comp.checked" class="ng-untouched ng-valid ng-dirty ng-valid-parse" value="on">
          <div class="track">
            <div class="handle">
            </div>
          </div>
        </label>
      </div>
  	</ion-content>
</ion-view>