<ion-view title="PicBit - Dashboard">
	<ion-nav-buttons side="primary">  	  		
		<button class="button" ng-click="transitions.profile()" style="margin-right:8px;">
      		<span class="icon ion-android-contact"></span>
    	</button>
    	<button class="button" ng-click="showPicBitSiteMenu()">
      		<span class="icon ion-android-menu"></span>
    	</button>    	
  	</ion-nav-buttons>
  	<ion-content>
  		<div ng-if="dashstate.isEmpty()" class="dashEmpty" style="text-align:center; display: block;">
	  		<img src="img/System-Box-Empty-icon.png" height="80" width="80"/>
	  		<h3>Tu dashboard está vacío</h3>
	  		<button class="button button-balanced" on-tap="transitions.components()">	  			
	  			<span>Añade un componente</span>
	  			<span class="icon ion-android-add" style="margin-left:5px;"></span>
	  		</button>
  		</div>
  		<div ng-if="!dashstate.isEmpty()" class="addedComponents">	  		
	  		<button ng-repeat="cmp in dashstate.getAddedComponents()" class="button button-stable" on-tap="transitions.component(cmp.name)">	  			
          <span class="icon ion-ios-flask"></span><br/>
	  			<span>{{cmp.name}}</span>	  			
	  		</button>
  		</div>    
      <button class="button button-assertive" style="border-radius:100%;position:fixed;bottom:50px;right:5px;" ng-if="!dashstate.isEmpty()" on-tap="transitions.components()">
        <span class="icon ion-android-add"></span>
      </button>
  	</ion-content>
</ion-view>