<ion-view title="PicBit - Team">		
  	<ion-nav-buttons side="primary">  	  		
    	<button class="button" ng-click="showPicBitSiteMenu()">
      		<span class="icon ion-android-menu"></span>
    	</button>
  	</ion-nav-buttons>
	<ion-content class="" style="text-align:center;">		
		<div class="has-footer" style="padding:20px 30px;">
			<div>
				<img src="img/user.png" height="65px"/>			
				<p>Luis Ruiz</p>
			</div>
			<div>
				<p style="text-align: left; height:auto;">
					es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
				</p>
			</div>			
		</div>	
		<div class="has-footer" style="padding:20px 30px;">
			<div>
				<img src="img/user.png" height="65px"/>			
				<p>Luis Ruiz</p>
			</div>
			<div>
				<p style="text-align: left; height:auto;">
					es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
				</p>
			</div>			
		</div>		
		<div class="has-footer" style="padding:20px 30px;">
			<div>
				<img src="img/user.png" height="65px"/>				
				<p>Ana Lopera</p>
			</div>
			<div>
				<p style="text-align: left; height:auto;">
					es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
				</p>
			</div>			
		</div>				
	</ion-content>
</ion-view>