<ion-content class="text-center" ng-controller="homeCtrl">
  <div class="row row-center">
    <div class="col col-center">
      <img src="../img/logo.png" height="55">
    </div>
  </div>
  <div class="row row-center">
    <div class="col col-center padding-horizontal">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fermentum elit egestas ultricies aliquet. Mauris
        aliquet, sem quis elementum scelerisque,
    </div>
  </div>
  <div class="row">
      <div class="col">
        <button class="button ion-log-in button-assertive" ng-click="goToLogin()"> LOG IN</button>
      </div>
  </div>
</ion-content>
