<ion-content ng-controller="homeCtrl">
  <div class="row">
    <div class="col">
      <button class="button icon icon-left ion-social-facebook button-stable" on-tap="goToDashboard()"><span>Facebook</span></button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="button icon icon-left ion-social-googleplus button-assertive" on-tap="goToDashboard()"><span>Google</span></button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="button icon icon-left ion-social-twitter button-calm" on-tap="goToDashboard()"><span>Twitter</span></button>
    </div>
  </div>
</ion-content>
