<ion-view title="Profile">
	<ion-nav-buttons side="right">        
    <button class="icon ion-android-menu button-assertive-900 button no-text button-clear" menu-toggle="right"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">        
    <a class="icon ion-power button-assertive-900" style="font-size:30px; margin-left: 10px; margin-top:5px;" ng-click="showLogOutMenu()"></a>
  </ion-nav-buttons>
	<ion-content>
		<div class="row">
      <div class="col">
      	<div class="row">
      		<div class="col col-25">
      			<img ng-src="{{user.picture}}" height="75">
      		</div>
      		<div class="col col-75">
      			<br/><br/>
      			<p class="welcome-message">Hi {{user.name}}</p>
        		<p class="welcome-message">{{user.email}}</p>
      		</div>
      	</div>        
        <p class="welcome-message">You have logged in with Facebook</p>        
        <!--<a class="button button-assertive button-block button-outline" ng-click="showLogOutMenu()">
          Go
        </a>-->
        <button class="button button-positive button-block" ng-click="showDashboard()">
        	Go to your Dashboard
        </button>
      </div>
    </div>
    <hr/>
    <div style="text-align: center;">
		  <p>Your social networks availables</p>
		  <div class="row">
		  	<div class="col col-center">
		  		<button class="button icon ion-social-twitter-outline" style="height:75px; width:75px;"></button>
					<button class="button icon ion-social-facebook-outline" style="height:75px; width:75px;"></button>
					<button class="button icon ion-social-googleplus-outline" style="height:75px; width:75px;"></button>
		  	</div>
		  </div>
		  <div class="row">
		  	<div class="col col-center">
		  		<button class="button icon ion-social-github-outline" style="height:75px; width:75px;"></button>
					<button class="button icon ion-social-linkedin-outline" style="height:75px; width:75px;"></button>
					<button class="button icon ion-social-instagram-outline" style="height:75px; width:75px;"></button>	
		  	</div>
		  </div>
  	</div>
	</ion-content>
</ion-view>